@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "tailwindcss";


@font-face {
  font-family: 'Knockout';
  src: url('/fonts/knockout-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Knockout';
  src: url('/fonts/knockout-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-tp: var(--primary-tp);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-zealandia-orange: var(--zealandia-orange);
  --color-nav-blue: var(--nav-blue);
  --color-roto-blue: var(--roto-blue);
  --color-timeline-line: var(--timeline-line);
  --color-timeline-icon: var(--timeline-icon);
  --color-kawakawa-green: var(--kawakawa-green);
  --color-kowahi-gold: var(--kowahi-gold);
}

:root {
  --radius: 0.625rem;
  --background: rgb(234,237,227);
  --foreground: oklch(0.145 0 0);
  --primary: rgb(234,237,227);
  --primary-tp: rgba(234, 237, 227, 0.719);
  --secondary: rgb(213, 225, 197);
  --zealandia-orange: #f26422;
  --nav-blue: #07454B;
  --roto-blue: #046aa4;
  --timeline-line: #046aa4;
  --timeline-icon: #f26422;
  --kawakawa-green: #4b6f45;
  --kowahi-gold: rgb(238, 180, 29);
}



@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}
