@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Knockout';
  src: url('/fonts/knockout-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Knockout';
  src: url('/fonts/knockout-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-tp: var(--primary-tp);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-forest-green: var(--forest-green);
  --color-goldenrod: var(--goldenrod);
  --color-nav-blue: var(--nav-blue);
  --color-peanut-butter: var(--peanut-butter);
  --color-sea-blue: var(--sea-blue);
  --color-timeline-line: var(--timeline-line);
  --color-timeline-icon: var(--timeline-icon);
  --color-deep-brown: var(--deep-brown);
  --color-kowahi-gold: var(--kowahi-gold);
  --color-vivid-orange: var(--vivid-orange);
  --color-vivid-azure: var(--vivid-azure);
}

:root {
  --radius: 0.625rem;
  --background: #eaede3;
  --foreground:  #297b8f;
  --primary: rgb(213, 225, 197);
  --primary-tp: rgba(213, 225, 197, 0.85);
  --secondary: #fad4b1;
  --goldenrod: #feb41d;
  --nav-blue: #02414e;
  --sea-blue: #297b8f;
  --timeline-line: #4F2803;
  --timeline-icon: #feb41d;
  --deep-brown: #4F2803;
  --peanut-butter: #a46f3d;
  --kowahi-gold: rgb(238, 180, 29);
  --forest-green: #4b6f64;
  --vivid-orange: #f26725;
  --vivid-azure: #046aa4;
  --takahe-teal: #5fc3ce;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
